{{#hasParams}}
[#{{operationIdOriginal}}-parameters]
= Parameters

{{! include partial before operation parameters body }}
:leveloffset: +1
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-parameters-begin.adoc{{/specinclude}}

{{#hasPathParams}}
[#{{operationIdOriginal}}-path]
{{^useTableTitles}}
= Path Parameters
{{/useTableTitles}}
{{#useTableTitles}}
.Path Parameters
{blank}
{{/useTableTitles}}

[cols="20,60,20",separator=¦]
|===
¦ Name ¦ Description ¦ Schema

{{#pathParams}}
{{>param}}
{{/pathParams}}
|===
{{/hasPathParams}}

{{#hasQueryParams}}
[#{{operationIdOriginal}}-query]
{{^useTableTitles}}
= Query Parameters
{{/useTableTitles}}
{{#useTableTitles}}
.Query Parameters
{blank}
{{/useTableTitles}}

[cols="20,60,20",separator=¦]
|===
¦ Name ¦ Description ¦ Schema

{{#queryParams}}
{{>param}}
{{/queryParams}}
|===
{{/hasQueryParams}}

{{#hasHeaderParams}}
[#{{operationIdOriginal}}-header]
{{^useTableTitles}}
= Header Parameters
{{/useTableTitles}}
{{#useTableTitles}}
.Header Parameters
{blank}
{{/useTableTitles}}

[cols="20,60,20",separator=¦]
|===
¦ Name ¦ Description ¦ Schema

{{#headerParams}}
{{>param}}
{{/headerParams}}
|===
{{/hasHeaderParams}}

{{#hasFormParams}}
[#{{operationIdOriginal}}-form]
{{^useTableTitles}}
= Form Parameters
{{/useTableTitles}}
{{#useTableTitles}}
.Form Parameters
{blank}
{{/useTableTitles}}

[cols="20,60,20",separator=¦]
|===
¦ Name ¦ Description ¦ Schema

{{#formParams}}
{{>param}}
{{/formParams}}
|===
{{/hasFormParams}}

{{#hasBodyParam}}
[#{{operationIdOriginal}}-body]
{{^useTableTitles}}
= Body Parameter
{{/useTableTitles}}
{{#useTableTitles}}
.Body Parameter
{blank}
{{/useTableTitles}}

[cols="20,60,20",separator=¦]
|===
¦ Name ¦ Description ¦ Schema

{{#bodyParams}}
{{>param}}
{{/bodyParams}}
|===
{{/hasBodyParam}}

{{! include partial after operation parameters body }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-parameters-end.adoc{{/specinclude}}
:leveloffset: -1
{{/hasParams}}