{{! If this is an enum ref: }}
{{#isEnumRef}}

include::index.adoc[tag=type-{{dataType}}, opts=optional]
{{/isEnumRef}}
{{! If this is not an enum ref, then ... }}
{{^isEnumRef}}
{{! If this is an array: }}
{{#isArray}}
{{#items}}{{>schema}}{{/items}} array
{{/isArray}}
{{! If this is not an array: }}
{{^isArray}}
{{>schema}}
{{/isArray}}
{{/isEnumRef}}