{{#hasParams}}
===== Parameters

{{! include partial before operation parameters body }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-parameters-begin.adoc{{/specinclude}}
{{/hasParams}}

{{#hasPathParams}}
{{^useTableTitles}}
====== Path Parameters
{{/useTableTitles}}

[cols="2,3,1"]
{{#useTableTitles}}
.Path Parameters
{{/useTableTitles}}
|===
|Name| Description| Schema

{{#pathParams}}
{{>param}}
{{/pathParams}}
|===
{{/hasPathParams}}

{{#hasBodyParam}}
{{^useTableTitles}}
====== Body Parameter
{{/useTableTitles}}

[cols="2,3,1"]
{{#useTableTitles}}
.Body Parameter
{{/useTableTitles}}
|===
|Name| Description| Schema

{{#bodyParams}}
{{>param}}
{{/bodyParams}}
|===
{{/hasBodyParam}}

{{#hasFormParams}}
{{^useTableTitles}}
====== Form Parameters
{{/useTableTitles}}

[cols="2,3,1"]
{{#useTableTitles}}
.Form Parameters
{{/useTableTitles}}
|===
|Name| Description| Schema

{{#formParams}}
{{>param}}
{{/formParams}}
|===
{{/hasFormParams}}

{{#hasHeaderParams}}
{{^useTableTitles}}
====== Header Parameters
{{/useTableTitles}}

[cols="2,3,1"]
{{#useTableTitles}}
.Header Parameters
{{/useTableTitles}}
|===
|Name| Description| Schema

{{#headerParams}}
{{>param}}
{{/headerParams}}
|===
{{/hasHeaderParams}}

{{#hasQueryParams}}
{{^useTableTitles}}
====== Query Parameters
{{/useTableTitles}}

[cols="2,3,1"]
{{#useTableTitles}}
.Query Parameters
{{/useTableTitles}}
|===
|Name| Description| Schema

{{#queryParams}}
{{>param}}
{{/queryParams}}
|===
{{/hasQueryParams}}

{{! include partial after operation parameters body }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-parameters-end.adoc{{/specinclude}}