| {{baseName}} 
a| 
[markdown]
--
{{#unescapedDescription?}}
{{{unescapedDescription}}}
{{/unescapedDescription?}}
{{^unescapedDescription?}}
{{{description}}}
{{/unescapedDescription?}}
--

{{#baseType}}<<{{baseType}}>>{{/baseType}}

| {{^required}}-{{/required}}{{#required}}X{{/required}} 
| {{defaultValue}} 
